<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.zkteam.sdk">
    <application
            android:networkSecurityConfig="@xml/network_security_config"
            android:appComponentFactory=""
            android:name=".base.ZKBaseApplication"
            tools:replace="android:appComponentFactory"
            tools:ignore="UnusedAttribute"/>
</manifest>
